.catalog {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $color-third;
	& > h2 {
		@include SubTitle;
	}
	&__products {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		width: 100%;
		white-space: nowrap;
		&__product {
			display: inline-block;
			scroll-snap-align: start;
			padding: 2.5em;
			width: 25%;
			img {
				max-width: 100%;
			}
			.text {
				text-align: center;
				& > * {
					padding-block: 0.2em;
				}
				.price {
					&::before {
						content: '$';
					}
				}
			}
		}
	}
}
