* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100vh;
}
p,
a,
ul,
li,
ol,
img,
div {
	font-family: $font-main;
	text-decoration: none;
}
ul,
ol {
	list-style-type: none;
}
body {
	font-size: 1em;
	font-family: $font-main;
	background-color: fff;
}
