.nav {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 11%;
	background-color: $color-accent;
	z-index: 10;
	border-block: 1px solid transparentize($color: $color-main, $amount: 0.8);
	&__logo {
		padding-block: 1em;
	}
	&__menu {
		display: flex;
		align-self: stretch;
		&__item {
			display: relative;
			font-variant-caps: all-small-caps;
			text-align: center;
			padding-inline: 0.8em;
			font-weight: 500;
			font-size: 1.3em;
			cursor: pointer;
			.title {
				display: flex;
				height: 100%;
				align-items: center;
				border: 3px solid transparent;
				&:hover {
					color: $color-secun;
					border-bottom: 3px solid $color-secun;
				}
			}
			.dropdown {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				transition: all 0.5s ease;
				left: 0;
				display: none;
				//Content
				background-color: #fff;
				width: 100%;
				padding-block: 2em;
				padding-block-end: 3em;
				padding-inline: 10em;
				.items {
					display: flex;
					text-align: start;
					column-gap: 1.5em;
					& > ul > li {
						padding-block: 0.5em;
						font-size: 1rem;
						font-variant-caps: normal;
						text-transform: capitalize;
						font-weight: 200;
						&.subtitle {
							font-weight: bolder;
							padding-bottom: 0.5em;
							font-size: 1.4rem;
							font-variant-caps: all-small-caps;
							text-transform: uppercase;
						}
					}
				}
				.image {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: start;
					h3 {
						font-size: 1.1em;
					}
				}
			}
			&:hover > .dropdown,
			&:focus-within > .dropdown,
			.dropdown:hover {
				visibility: visible;
				opacity: 1;
				display: flex;
				justify-content: space-evenly;
			}
		}
	}
	&__buttons {
		color: $color-main;
		font-size: 1.3em;
		& > * {
			padding-inline: 0.5em;
		}
		i {
			font-weight: 600;
			cursor: pointer;
		}
		button {
			cursor: pointer;
			height: 100%;
			padding: 0.5em;
			border: 1px solid transparentize($color: $color-main, $amount: 0.5);
			border-radius: 0.5em;
			background-color: transparent;
			&:hover {
				background-color: transparentize($color: $color-main, $amount: 0.8);
			}
			.language {
				display: flex;
				background-image: url(https://cdn.flow.io/util/icons/flags-v2/svg/iso_2_flags.svg);
				background-position: -253px -51px;
				width: 21px;
				height: 15px;
			}
		}
	}
}
