.social {
	display: flex;
	flex-direction: column;
	width: 100%;
	&__text {
		padding-inline: 5em;
		padding-block: 3em;
		h2 {
			@include SubTitle;
			font-size: 2em;
			padding: 0;
			padding-bottom: 0.3em;
		}
	}
	&__images {
		position: relative;
		display: flex;
		width: 100%;
		overflow: auto;
		overflow-y: hidden;
		padding-block: 1em;
		img {
			aspect-ratio: 1/1;
			object-fit: cover;
			max-width: 25%;
			padding-inline: 0.3em;
			border-radius: 0.5em;
		}
	}
}
